* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-image: url('background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background-color: white;
}

nav ul {
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;

}



nav ul li a {
    height: 100%;
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 05px 30px;
    display: flex;
    align-items: center;
}

nav ul li:first-child {
    margin-right: auto;
    font-weight: bold;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.sidebar ul li a {
    margin: 15px;
    width: 100%;
}
.menu-btn{
    display: none;
}

nav ul li a img{
    width: 30px;
    height: 30px;
}

@media (max-width: 800px) {
    .hideOnMobile{
        display:none;
    }
    .menu-btn{
        display: block;
    }
}
@media (max-width: 500px){
    .sidebar{
        width: 100%;
    }
}
